# Ignore Obsidian system files
.obsidian/workspace.json
.obsidian/cache/
.obsidian/graph.json

# Ignore file recovery & backups
.trash/
.obsidian/backups/

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
*.swp
*.swo
